<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>

    <body>
        <h1>Test page</h1> <strong> {{ boldmessage }}</strong><br />
        <a href="/reviews/">To main page</a><br />
    </body>


{% load staticfiles %}
    {% load ratings %}


{% for subject in recommended_subjects %}
    {{ subject.name }}   {{ subject.get_average }}
{% empty %}
    No tags!
{% endfor %}


</html>