{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% block title %}

<h2>Subject list</h2>
{% endblock %}


{% block content %}
{% if subject_list %}
<div class="row">
    {% for subject in subject_list %}
    <div class="col-xs-6 col-lg-4">
        <h4><a href="{% url 'reviews:subject_detail' subject.id %}">
        {{ subject.name }}
        </a></h4>
        {% ratings subject %}

    </div>
    {% endfor %}
</div>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
{% endblock %}